.header{
    max-width: 100%;
    max-height: 100px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: left;
    background-color: #000000;
  
    .header__menu{
        display: flex;
        gap: 52px;
        margin-right: 30px;
        p{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;
            text-transform: uppercase;
            color: #F2D893;
        }

    }
    .search__login{
        display: flex;
        gap: 30px;
    }
    .header__search{
        width: 254px;
        height: 74px;

        background: #0E0E0E;
        border: 2px solid #FFFFFF;
        border-radius: 27px;
        display: flex;
        align-items: center;
        img{
            margin-left: 5px;
        }
        input{
            background: none;
            border: none;
            outline: none;
            margin-left: 10px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 39px;
            text-transform: capitalize;
            max-width: 180px;
            color: #F2D893;
        }
        input:focus{

        }
    }
    .header__login{
        width: 258px;
        height: 78px;
        background: linear-gradient(94.99deg, #CC0029 5.45%, #97001E 91.67%);
        border: 2px solid #FFFFFF;
        box-shadow: 3px 5px 10px rgba(255, 255, 255, 0.25);
        border-radius: 27px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 39px;

        color: #F2D893;
    }
}