.header{
    max-width: 100%;
    max-height: 100px;
    display: flex;
    padding: 10px;
    align-items: center;
    width: 100%;
    justify-content: center;
    .burger{
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 2px;
        left: 15px;
        .item{
            box-sizing: border-box;
            width: 46px;
            height: 6px;
            border: 1px solid #000000;

        }
    }
    .center{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .logo{  
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        img{
            max-width: 219px;
            max-height: 55.91px;
        }
        h1{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 800;
            font-size: 20px;
            line-height: 24px;
            margin-block-start: 0px;
            margin-block-end: 0px;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            color: #000000;

        }
    }
    .new__items{
        margin-top: 15px;
        display: flex;
        gap: 40px;
        p{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 800;
            font-size: 14px;
            line-height: 17px;
            /* identical to box height */
            display: flex;
            align-items: center;

            color: #9A9A9A;
        }
    }
    }
}