.reg_page{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url("./bg.png") no-repeat;
    background-position: right;
    background-size: contain;

    h3{
        z-index: 999;
        position: relative;
        font-family: 'Exo 2';
        font-style: normal;
        font-weight: 800;
        font-size: 32px;
        line-height: 39px;
        /* identical to box height */
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        color: #000000;
    }

    .auth_box{
        background: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(5px);
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h1{
            font-family: 'Exo 2';
            font-style: normal;
            font-weight: 800;
            font-size: 32px;
            line-height: 39px;
            /* identical to box height */
            
            color: #000000;   
        }
        .box_input{
            gap: 25px;
            display: flex;
            flex-direction: column;
            margin-bottom: 110px;
            .input_item{
                display: flex;
                justify-content: left;
                flex-direction: column;
                text-align: left;
                width: 100%;
                height: 100%;
                input{
                    outline: none;
                    width: 490px;
                    height: 30px;
                    background: rgba(255, 255, 255, 0.08);
                    border: 1px solid rgba(255, 255, 255, 0.16);
                    border-radius: 6px;

                }
                input:focus{
                    background: rgba(255, 255, 255, 0.08);
                    border: 1px solid #FFFFFF;
                    border-radius: 6px;
                }
                p{
                    font-family: 'Exo 2';
                    font-style: normal;
                    font-weight: 200;
                    font-size: 12px;
                    line-height: 15px;

                    color: #000000;
                    display: block;
                    margin-block-start: 0;
                    margin-block-end: 0;

                }
            }
        }
        .box_buttons{ 
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 16px;
        .buttons_login{
            width: 191px;
            height: 33px;
            background: #000000;
            font-family: 'Exo 2';
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            /* identical to box height */
            text-align: center;
            color: #FFFFFF
        }
        .buttons_reg{
            width: 191px;
            height: 33px;
            background: #fff;
            font-family: 'Exo 2';
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            /* identical to box height */
            text-align: center;
            color: #000
        }
    }
    }
}