@font-face {
  font-family: "Exo 2";
  src: local("Exo 2"),
   url("../fonts/Exo2/Exo2-Black.ttf") format("truetype");
  font-weight: 900;
 }
 
 @font-face {
  font-family: "Exo 2";
  src: local("Exo 2"),
   url("../fonts/Exo2/Exo2-ExtraBold.ttf") format("truetype");
  font-weight: 800;
 }
 @font-face {
  font-family: "Exo 2";
  src: local("Exo 2"),
   url("../fonts/Exo2/Exo2-Medium.ttf") format("truetype");
  font-weight: 500;
 }
 

 body{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}
*{
  margin: 0;
  padding: 0;
}

button{
  outline: none;
  border: none;
}

input{
  border: none;
  outline: none;
}